wandb
*/__pycache__/
*.pyc
checkpoints/**
*/.ipynb_checkpoints/
__pycache__/
data
./data/
data/
outputs
outputs/
./tmp/
tmp/
tmp
2d_plots
2d_plots/
3d_plots
3d_plots/
grad_output_distribution
grad_output_logs/
./weight_figure/*