bottleneck==1.3.4
brotli==1.0.9
brotlipy==0.7.0
coloredlogs==15.0.1
easydict==1.13
hydra-colorlog==1.2.0
imageio==2.9.0
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mlxtend==0.19.0
munkres==1.1.4
numexpr==2.8.1
pathtools==0.1.2
pip-chill==1.0.3
promise==2.3
pyopenssl==22.0.0
pysocks==1.7.1
shortuuid==1.0.13
tabulate==0.8.10
torchaudio==0.11.0+cu113
torchinfo==1.8.0
torchmetrics==0.11.2
torchvision==0.12.0+cu113
tornado==6.1
umap-learn==0.5.6
wandb==0.17.0
win-inet-pton==1.1.0
